OIDC_OP_AUTHORIZATION_ENDPOINT=http://localhost:8000/openid/authorize/
OIDC_OP_TOKEN_ENDPOINT=http://localhost:8000/openid/token/
OIDC_OP_USER_ENDPOINT=http://localhost:8000/openid/userinfo/
OIDC_OP_JWKS_ENDPOINT=http://localhost:8000/openid/jwks/
OIDC_RP_CLIENT_ID=your-client-id
OIDC_RP_CLIENT_SECRET=your-client-secret
