OIDC_OP_AUTHORIZATION_ENDPOINT=http://100.64.0.4:8000/openid/authorize/
OIDC_OP_TOKEN_ENDPOINT=http://100.64.0.4:8000/openid/token/
OIDC_OP_USER_ENDPOINT=http://100.64.0.4:8000/openid/userinfo/
OIDC_RP_CLIENT_ID=your-client-id
OIDC_RP_CLIENT_SECRET=your-client-secret
